.custom-white {
  color: #fff !important;
}
.custom-white:hover {
  color: #eab73e !important;
  background: transparent;
}
.custom-justify {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.custom-justify {
  justify-content: center; /* Center the content */
}

.icon-cart {
  margin-right: 15px; /* Adjust margin for better spacing */
}

.navbar {
  position: relative; /* Ensure positioning is set for absolute elements */
}

.nav-item.dropdown {
  position: relative; /* Relative positioning for dropdowns */
}

.dropdown-menu {
  left: -50%; /* Align the dropdown to the left of the icon */
  transform: translateX(-50%); /* Center the dropdown */
}
